/* Error Page */
@include keyframes(error-message-fadein) {
    0% {
        opacity: 0;
        transform: translateY(-5%);
        filter: blur(10px);
    }

    100% {
        opacity: 1;
        transform: none;
        filter: none;
    }
}

body.error-page {
    padding: $content-margin;
    background: $color-background-page;
    background-size: cover;

    .wallpaper {
        --height: 800px;

        position: fixed;
        background: radial-gradient(mix(#fff, $theme-main, 30%), $theme-main) 50% 50%;
        background-size: cover;

        clip-path: polygon(0 0, 100% 0, 100% 65%, 0% 100%);

        width: 100%;
        left: 0;
        top: calc(var(--height) / 2 * -1);
        height: var(--height);
    }

    h1 {
        padding: 0;

        &::before {
            content: "";
            display: none;
        }
    }

    .post {
        padding: 2rem;
        background: #fff;
        border: 1px solid $theme-main;
        border-radius: 5px;

        box-shadow: 0 0 10px 2px rgba(#000, .2);
        background: #fff linear-gradient(mix(#fff, $theme-main, 50%), rgba(#fff, 0));

        @include animation('error-message-fadein linear .5s forwards');
        @include css3('animation-iteration-count', '1');
        transform-origin: 50% 50%;
        will-change: opacity, transform, filter;

        .error-page-flex {
            display: flex;

            &>.error-page-image {
                padding-right: 30px;
                display: flex;
                justify-content: center;
                align-items: center;

                &>svg {
                    width: 100%;
                }
            }
        }

        .btn {
            background-color: #fff;

            &:hover {
                background-color: $color-link;
            }
        }
    }

    footer {
        margin-top: 0;

        a, p {
            color: darken(#fff, 40%);
        }
    }
}
