/* Base Styles */

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    background: $color-background-alt;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    max-width: none;
    font-size: 19px;
    color: $color-text;
    line-height: 1.5;
    min-height: 100%;

    background: $color-background-page;

    &.main {
        background: $color-background-alt;
    }

    &.no-heading {
        padding: $content-margin;
    }

    &, input, textarea, keygen, select, button {
        font-family: $custom-font, -apple-system, BlinkMacSystemFont, "Segoe UI",
                     Helvetica, Arial, sans-serif, "Apple Color Emoji",
                     "Segoe UI Emoji", "Segoe UI Symbol";
    }
}


h1, h2, h3, b, strong {
    color: darken($color-text, 20%);
}

a, .menu h3 {
    color: $color-link;
}

a {
    text-decoration-skip-ink: auto;
    text-decoration-color: rgba($color-link, .3);
}
