table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    overflow-x: auto;

    thead tr {
        background: $menu-background-normal;
    }

    &, td, th {
        border: 1px solid rgba($menu-background-hover, .6);
    }

    td, th {
        padding: .5em;
    }
}
