$navbar-z-index: 1000;

nav.awesome-bar {
    background-color: var(--navbar-color-bg-normal);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $navbar-height;
    display: flex;
    justify-content: center;
    z-index: $navbar-z-index;
    box-shadow: 0 0 0 2px var(--control-color-border);
    will-change: transform;
    color: var(--navbar-color-text);

    .awesome-bar-class-menu {
        &.open .awesome-bar-icon-close {
            display: none;
        }

        &:not(.open) .awesome-bar-icon-open {
            display: none;
        }
    }

    .awesome-bar-startup-hide {
        visibility: collapse;
    }

    & > .awesome-bar-wrapper {
        max-width: min(100vw, $breakpoint-desktop);
        display: flex;
        justify-content: space-between;

        & > .awesome-bar-left, & > .awesome-bar-right {
            position: relative;
        }

        & > .awesome-bar-left {
            display: flex;

            & > .awesome-bar-menu-wrapper {
                transition: .1s background-color;

                & > button, & > .awesome-bar-home {
                    background: transparent;
                    border: 0;
                    color: var(--navbar-color-text);
                    line-height: $navbar-height;
                    padding: 0 1rem;
                    transition: .1s background-color;
                    display: block;
                    outline: 0;
                    cursor: pointer;
                }

                &.open, &:hover {
                    background-color: var(--navbar-color-bg-active);
                }

                &.open {
                    & > .awesome-bar-menu {
                        display: block;
                    }
                }

                & > .awesome-bar-menu {
                    position: fixed;
                    top: $navbar-height;
                    display: none;
                    list-style-type: none;
                    padding: $control-border-radius;
                    background-color: var(--navbar-color-bg-active);
                    border: 1px solid var(--navbar-color-bg-active);
                    box-shadow: 2px 2px 2px rgba(#000, .2);
                    min-width: 200px;
                    z-index: ($navbar-z-index + 1);
                    transform-origin: 0 0;

                    & > li {
                        & > a {
                            color: var(--navbar-color-text);
                            display: block;
                            padding: .5rem 3rem .5rem 1rem;
                            text-decoration: none;
                            transition: .1s color, .1s background-color;
                            border-radius: $control-border-radius;
                        }

                        &:hover > a, &.active:hover > a {
                            background-color: var(--navbar-color-text);
                            color: var(--navbar-color-bg-active);
                        }

                        &.active > a {
                            background-color: var(--navbar-color-text);
                            color: var(--navbar-color-bg-active);
                        }
                    }
                }
            }

            & > .awesome-bar-title {
                text-align: center;
                color: var(--navbar-color-text);
                line-height: $navbar-height;
                font-weight: bold;
                font-size: 1.2rem;
                text-decoration: none;
                padding: 0 1rem;
                transition: .1s background-color;

                &:hover {
                    background-color: var(--navbar-color-bg-active);
                }
            }
        }

        & > .awesome-bar-right {
            display: flex;
            justify-content: flex-end;

            &.open > .awesome-bar-profile {
                background-color: var(--navbar-color-bg-active);
            }

            .awesome-bar-profile {
                display: flex;
                height: $navbar-height;
                text-decoration: none;
                padding: 0 .5rem;
                transition: .1s background-color;
                border: 0;
                background: none;

                &:hover {
                    background-color: var(--navbar-color-bg-active);
                }

                &>img {
                    $padding: 5px;
                    $size: ($navbar-height - 2 * $padding);

                    width: $size;
                    height: $size;
                    border-radius: 50%;
                    margin: $padding;
                    vertical-align: middle;
                }

                &>span {
                    color: var(--navbar-color-text);
                    line-height: $navbar-height;
                    text-align: right;
                    padding: 0 1rem;

                    &.awesome-bar-signin {
                        grid-area: 1/1/1/3;
                    }

                    @media screen and (max-width: $breakpoint-mobile) {
                        &:not(.awesome-bar-signin) {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    &.awesome-bar-fluid > .awesome-bar-wrapper {
        max-width: 100%;
    }
}

/* Profile panel */
.popup-profile {
    position: fixed;
    background-color: var(--navbar-color-bg-active);
    color: var(--navbar-color-text);
    display: none;
    top: $navbar-height;
    box-shadow: 2px 2px 2px rgba(#000, .2);
    z-index: ($navbar-z-index + 1);
    will-change: transform, filter, opacity;
    width: min(500px, 100%);
    transform-origin: 0 0;

    @media screen and (max-width: $breakpoint-mobile) {
        width: 100%;
    }

    grid-template: auto / 128px 1fr;
    grid-template-areas: "avatar username" "avatar menu";
    grid-column-gap: 1rem;
    padding: .5rem 1rem;

    .open > & {
        display: grid;
    }

    > .popup-profile-avatar {
        flex: 1;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: avatar;

        > img {
            width: 100%;
            border-radius: 50%;
        }
    }

    > h3 {
        margin: 0 0 .5em 0;
        padding: 0 5px;
        grid-area: username;
    }

    > .popup-profile-actions > a {
        display: block;
        color: var(--color-link-normal);
        padding: 5px;
        text-decoration: none;
        transition: .1s color, .1s background-color;
        border-radius: $control-border-radius;
        grid-area: menu;

        &:hover {
            background-color: var(--color-information);
            color: var(--color-information-bg);
        }
    }
}

.awesome-bar-popup-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: ($navbar-z-index - 1);
    display: block;
}
