ul {
    margin: 0;
}

dl {
    margin: 0;

    dt {
        font-weight: bold;
    }

    dd {
        margin: 0;
    }
}

.list-group {
    overflow: hidden;
    padding: 0;
    $this: &;

    & > #{$this}-item {
        display: block;
        text-decoration: none;
        padding: 1rem;
        border: 1px solid $control-color-border;

        margin: -1px 0 0 0;

        &:first-child {
            margin: 0;
        }

        .panel > & {
            margin: -1px;
        }

        & > h4 {
            margin: 0 0 .5rem 0;
        }

        & > p {
            margin: 0;
        }

        &, & > h4 {
            color: $color-primary;
        }

        & > div, & > p {
            color: $color-muted;
        }
    }


    &:not(#{$this}--no-hover) > #{$this}-item {
        &:hover, &:focus {
            background: $control-color-background-hover;
        }
    }
}
