.panel {
    margin-bottom: 1rem;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: $control-border-radius;
    overflow: hidden;

    & > .panel-heading {
        padding: .75rem 1.25rem;
    }

    & > .panel-body {
        padding: 1.25rem;
    }

    & > .panel-footer {
        padding: .75rem 1.25rem;
        background-color: r-lighten($color-primary, 90%);
    }

    &.panel-default {
        border-color: $control-color-border;

        & > .panel-heading {
            color: $color-primary;
            background-color: $control-color-background-locked;
        }

        & > .panel-footer {
            background-color: $control-color-background-locked;
        }
    }

    &.panel-primary {
        border-color: $color-primary;

        & > .panel-heading {
            color: $color-primary;
            background-color: r-lighten($color-primary, 90%);
        }
    }

    &.panel-danger {
        border-color: $color-danger;

        & > .panel-heading, & > .panel-footer {
            background-color: r-lighten($color-danger, 90%);
            color: $color-danger;
        }
    }

    &.panel-success {
        border-color: $color-success;

        &>.panel-heading, & > .panel-footer {
            background-color: r-lighten($color-success, 90%);
            color: $color-success;
        }
    }

    &.panel-warning {
        border-color: $color-warning;

        &>.panel-heading, & > .panel-footer {
            background-color: r-lighten($color-warning, 90%);
            color: $color-warning;
        }
    }
}
