.progress {
    overflow: hidden;
    height: 1.25rem;
    background-color: var(--control-color-border);

    .progress-bar {
        float: left;
        width: 0%;
        height: 100%;
        font-size: .75rem;
        line-height: 1.25rem;
        color: var(--color-information-bg);
        text-align: center;
        box-shadow: inset 0 -1px 0 rgba(#000, .15);
        transition: width .6s ease;

        background-color: var(--color-primary);
    }

    &.progress-danger .progress-bar {
        background-color: var(--color-danger);
    }

    &.progress-warning .progress-bar {
        background-color: var(--color-warning);
    }

    &.progress-success .progress-bar {
        background-color: var(--color-success);
    }
}
