.alert {
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid $color-primary;
    background-color: r-lighten($color-primary, 80%);
    color: $color-primary;

    & > * {
        color: inherit;
    }

    p {
        margin: 0;
    }

    &.alert-success {
        border-color: $color-success;
        background-color: r-lighten($color-success, 80%);
        color: r-darken($color-success, 40%);
    }

    &.alert-warning {
        border-color: $color-warning;
        background-color: r-lighten($color-warning, 80%);
        color: r-darken($color-warning, 40%);
    }
    
    &.alert-danger {
        border-color: $color-danger;
        background-color: r-lighten($color-danger, 80%);
        color: r-darken($color-danger, 40%);
    }
}
