.btn {
    $shadow-size: 3px;
    $transition-speed: .2s;

    text-align: center;
    padding: .5rem 1rem;

    border: 1px solid r-lighten($color-primary, 75%);
    border-radius: 5px;

    display: inline-block;

    margin: .25rem .25rem .5rem .25rem;

    &, &:hover, &:active, &.active, &:focus {
        background-color: r-lighten($color-primary, 95%);

        transition: $transition-speed all;
        outline: 0;
        text-decoration: none;

        color: $color-primary;
    }

    &:hover, &:focus, &:active, &.active {
        background-color: r-lighten($color-primary, 90%);
    }

    &.btn-primary {
        background-color: $color-primary;
        color: #fff;

        &:hover, &:focus, &:active, &.active {
            background-color: $color-alternative;
        }
    }

    &.btn-block {
        display: block;
        width: 100%;
        margin: 0 0 .5rem 0;
    }

    &.btn-flat {
        color: $color-primary;
        background: none;
        padding: .5rem 1.25rem;
        margin: 0 .1rem;
        border-radius: 4px;
        transition: $transition-speed all;
        box-shadow: none;
        border: 0;
        
        &, &:active, &:focus, &:hover {
            text-decoration: none;
        }
        
        &:focus, &:hover {
            background-color: r-lighten($color-primary, 20%);
            color: #fff;
        }
    }

    &.btn-small {
        padding: .1rem 1rem;
    }

    &.btn-large {
        padding: 1rem 3rem;
    }

    
    &.disabled, &[disabled] {
        opacity: .75;
        pointer-events: none;
    }
}
