.container {
    width: 100%;
    max-width: $breakpoint-desktop;
    margin: 0 auto;

    &.container-fluid {
        max-width: 100%;
    }

    &.container-narrow {
        max-width: $breakpoint-narrow;
    }

    &.container-navbar {
        margin: max(($navbar-height + 10px), floor($navbar-height + ($navbar-height  * .3))) auto 20px auto;
    }
}

.grid {
    display: grid;
    grid-gap: 1rem;

    grid-auto-rows: auto;

    &.grid--no-gap {
        grid-gap: 0;
    }

    &.grid-mobile--1 {
        grid-template-columns: 1fr;
    }

    &.grid-mobile--1-1 {
        grid-template-columns: 1fr 1fr;
    }

    &.grid-mobile--1-1-1 {
        grid-template-columns: 1fr 1fr 1fr;
    }

    &.grid-mobile--1-1-1-1 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    &.grid-mobile--1-2 {
        grid-template-columns: 1fr 2fr;
    }

    &.grid-mobile--1-2-1 {
        grid-template-columns: 1fr 2fr 1fr;
    }

    &.grid-mobile--1-3 {
        grid-template-columns: 1fr 3fr;
    }

    &.grid-mobile--1-3-1 {
        grid-template-columns: 1fr 2fr 1fr;
    }

    &.grid-mobile--2-1 {
        grid-template-columns: 2fr 1fr;
    }

    &.grid-mobile--3-1 {
        grid-template-columns: 3fr 1fr;
    }

    @media screen and (min-width: $breakpoint-mobile) {
        &.grid-tablet--1 {
            grid-template-columns: 1fr;
        }

        &.grid-tablet--1-1 {
            grid-template-columns: 1fr 1fr;
        }

        &.grid-tablet--1-1-1 {
            grid-template-columns: 1fr 1fr 1fr;
        }

        &.grid-tablet--1-1-1-1 {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        &.grid-tablet--1-2 {
            grid-template-columns: 1fr 2fr;
        }

        &.grid-tablet--1-2-1 {
            grid-template-columns: 1fr 2fr 1fr;
        }

        &.grid-tablet--1-3 {
            grid-template-columns: 1fr 3fr;
        }
        
        &.grid-tablet--1-3-1 {
            grid-template-columns: 1fr 3fr 1fr;
        }

        &.grid-tablet--2-1 {
            grid-template-columns: 2fr 1fr;
        }

        &.grid-tablet--3-1 {
            grid-template-columns: 3fr 1fr;
        }
    }

    @media screen and (min-width: $breakpoint-desktop) {
        &.grid--1 {
            grid-template-columns: 1fr;
        }

        &.grid--1-1 {
            grid-template-columns: 1fr 1fr;
        }

        &.grid--1-1-1 {
            grid-template-columns: 1fr 1fr 1fr;
        }

        &.grid--1-1-1-1 {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        &.grid--1-2 {
            grid-template-columns: 1fr 2fr;
        }

        &.grid--1-2-1 {
            grid-template-columns: 1fr 2fr 1fr;
        }

        &.grid--1-3 {
            grid-template-columns: 1fr 3fr;
        }

        &.grid--1-3-1 {
            grid-template-columns: 1fr 3fr 1fr;
        }

        &.grid--2-1 {
            grid-template-columns: 2fr 1fr;
        }

        &.grid--3-1 {
            grid-template-columns: 3fr 1fr;
        }
    }

    @media screen and (max-width: ($breakpoint-mobile - 1px)) {
        .hidden-mobile {
            display: none;
        }
    }

    @media screen and (min-width: $breakpoint-mobile) and (max-width: ($breakpoint-desktop - 1px)) {
        .hidden-mobile {
            display: none;
        }
    }

    @media screen and (min-width: $breakpoint-desktop) {
        .hidden-desktop {
            display: none;
        }
    }
}
