.chip {
    $chip-color-active-normal: mix(#fff, $color-primary, 50%);
    $chip-color-active-hover: mix(#fff, $color-primary, 30%);

    display: inline-flex;
    margin: .25rem;
    user-select: none;

    & + & {
        margin-left: 0;
    }

    @mixin chip-active {
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(#000, .1),
                0 0 0 3px rgba($color-primary, .25);
        border-color: $chip-color-active-hover;
    }

    & > input[type="checkbox"] {
        opacity: 0;
        position: fixed;
        top: -10px;
        left: -10px;
        width: 0;
        height: 0;
        pointer-events: none;
    }

    & > input[type="checkbox"] + label {
        border: 1px solid var(--control-color-border);
        border-radius: $control-border-radius;
        background-color: var(--control-color-background-normal);
        color: var(--color-primary);
        padding: 0 .5rem;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        transition: $control-transition-time all;

        &:hover, &:focus, &:active, &.active {
            background-color: var(--control-color-background-hover);
            border-color: $chip-color-active-hover;
        }

        &:active {
            @include chip-active;
        }

        &::before {
            --badge-size: 7px;

            content: "";
            display: inline-flex;
            width: var(--badge-size);
            height: var(--badge-size);
            border: 0;
            background: transparent;
            border: 1px solid var(--color-primary);
            transition: .1s;
            border-radius: 50%;
            margin-right: .25rem;
        }
    }

    & > input[type="checkbox"]:focus {
        & + label {
            @include chip-active;
        }
    }

    & > input[type="checkbox"]:checked + label {
        border: 1px solid var(--color-primary);

        background-color: var(--color-information-bg);
        color: var(--color-information);

        &::before {
            border-width: 1px;
            background-color: var(--color-primary);
        }
    }
}
