input, textarea, select, button {
    font-size: 1rem;
}

label[for] {
    cursor: pointer;
}

.form-group {
    margin-bottom: 1rem;

    &:last-child {
        margin-bottom: 0;
    }

    label {
        display: block;
        margin-bottom: .25rem;
        font-weight: bold;
    }

    .form-control {
        display: block;
        width: 100%;
    }
}

input:not([type]),
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="text"],
select,
textarea {
    min-height: 2.25rem;
    padding: .5rem 1rem;
    color: var(--color-text);
    background-color: var(--control-color-background-normal);
    border: 1px solid var(--control-color-border);
    border-radius: $control-border-radius;
    transition: border-color .25s, box-shadow .25s;

    &:hover {
        border-color: r-lighten($color-primary, 30%);
        box-shadow: inset 0 1px 1px rgba(#000, .1),
                    0 0 4px rgba($color-primary, .2);
    }

    &:focus {
        border-color: r-lighten($color-primary, 20%);
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(#000, .1),
                    0 0 0 3px rgba($color-primary, .25);
    }

    &[disabled], &[readonly] {
        background-color: var(--control-color-background-locked);
    }
}

select {
    cursor: pointer;
    transition: $control-transition-time all;

    &:hover, &:focus, &:active, &.active {
        background-color: var(--control-color-background-hover);
    }
}
