@font-face {
    font-family: 'Fira Sans';
    src: url('/fonts/fira/FiraSans-Regular.woff2') format('woff2'),
         url('/fonts/fira/FiraSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: fallback;
}

$custom-font: 'Fira Sans';
$font-family-sans: 'Fira Sans';
