@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans'),
         url('../fonts/ptsans/PTS55F_W.woff2') format('woff2'),
         url('../fonts/ptsans/PTS55F_W.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans Bold'),
         url('../fonts/ptsans/PTS75F_W.woff2') format('woff2'),
         url('../fonts/ptsans/PTS75F_W.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

$custom-font: 'PT Sans';
$font-family-sans: 'PT Sans';
