@font-face {
    font-family: 'Scada';
    src: url('../fonts/scada/Scada.woff2') format('woff2'),
         url('../fonts/scada/Scada.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$custom-font: 'Scada';
$font-family-sans: 'Scada';
