// Main colors
$color-background   : #f5f5f5 !default;
$color-primary      : #352c58 !default;
$color-alternative  : mix(#fff, $color-primary, 20%) !default;
$color-danger       : #e91e63 !default;
$color-success      : #009688 !default;
$color-warning      : #ff9800 !default;
$color-text         : #171717 !default;
$color-muted        : mix(#fff, $color-text, 30%) !default;

// Static URI path
$uri-static         : 'https://kyrios.rencloud.xyz' !default;

// Breakpoints
$breakpoint-mobile  : 980px !default;
$breakpoint-desktop : 1170px !default;
$breakpoint-narrow  : 560px !default;

// Navbar
$navbar-height      : 42px !default;
$navbar-text-color  : #ffffff !default;

// Fonts
$font-family-sans   : null !default;
$font-family-mono   : monospace !default;
