@import '../components/text';

/* Admin Panel */
@keyframes admin-auth-panel-fadein {
    0% {
        opacity: 0;
        transform: translateY(5%);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes admin-auth-generic-fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.admin-auth {
    font-size: 16px;

    .container-signin {
        max-width: 40rem;
    }

    .logo-container {
        margin: 15px auto 30px;
        text-align: center;
    }

    .panel {
        animation: .4s admin-auth-panel-fadein ease-out;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-delay: .25s;
        opacity: 0;

        &.panel-primary {
            box-shadow: 0 0 10px 2px rgba(#000, .2);
            margin-bottom: 30px;
            background: #fff linear-gradient(r-lighten($color-primary, 50%), rgba(#fff, 0));

            &>.panel-heading {
                background: transparent;
                color: #fff;
                text-shadow: 1px 1px 1px #000;
            }
        }
    }

    .login-form {
        .form-group {
            label {
                text-transform: uppercase;
                font-size: .9rem;
                font-weight: normal;
            }
        }
    }

    .login-avatar-container {
        text-align: center;
        margin-bottom: 10px;
    }

    .login-avatar {
        max-width: 100%;
        height: 128px;
    }
}

.admin {
    .navlink {
        margin-top: -100px;
        position: absolute;
    }

    #srv-backup {
        display: none;
    }

    .img-graph {
        margin: 0 auto;
    }

    .table-scripts {
        margin: 0;
        list-style-type: none;
        padding: 0;

        & > li {
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-template-rows: 1fr;
            grid-template-areas: "link description";

            &.table-scripts-item-enter, &.table-scripts-item-leave-to {
                opacity: 0;
                transform: translateY(10px);
            }

            &.table-scripts-item-leave-active {
                position: absolute;
            }

            & > a, & > div {
                padding: .75rem .75rem .75rem 1.25rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            @media screen and (max-width: $breakpoint-mobile) {
                grid-template-columns: 1fr;
                grid-template-rows: auto auto;
                grid-template-areas: "link" "description";
                padding: .5rem 0;

                & > a, & > div {
                    padding: .25rem 1rem;
                }
            }

            .table-scripts-icon-fav {
                text-align: center;
            }
        }

        &.table-scripts-full {
            & > li {
                grid-template-columns: auto 1fr 3fr;
                grid-template-rows: 1fr;
                grid-template-areas: "icon link description";

                @media screen and (max-width: $breakpoint-mobile) {
                    grid-template-columns: auto 1fr;
                    grid-template-rows: 1fr 1fr;
                    grid-template-areas: "icon link" "icon description";
                }
            }
        }

        .icon-fav-empty {
            color: $color-primary;
        }

        .icon-fav-checked {
            color: $color-warning;
        }

        .table-scripts-icon-fav {
            grid-area: icon;
        }

        .table-scripts-link {
            grid-area: link;
        }

        .table-scripts-description {
            grid-area: description;
        }
    }

    .text-block {
        margin: 0;
        padding: 15px;
    }

    .panel-system {
        h4 {
            margin-top: 0;
            margin-bottom: 0;
        }

        dl {
            margin-bottom: 0;
        }
    }
}

.flex-right {
    display: flex;
    justify-content: flex-end;
}

.notifications {
    .notification {
        &[data-status="default"] {
            --notification-icon-color: var(--color-information);
            --notification-icon-background: var(--color-information-bg);
        }

        &[data-status="warning"] {
            --notification-icon-color: var(--color-warning);
            --notification-icon-background: var(--color-warning-bg);
        }

        &[data-status="danger"] {
            --notification-icon-color: var(--color-danger);
            --notification-icon-background: var(--color-danger-bg);
        }

        &[data-status="success"] {
            --notification-icon-color: var(--color-success);
            --notification-icon-background: var(--color-success-bg);
        }

        $notification-icon-size: 48px;

        display: grid;
        grid-template-columns: auto 1fr 32px;
        grid-template-rows: 1fr auto 1fr;
        grid-template-areas: "icon title dismiss" "icon message message" "icon time time";

        .notification-icon {
            grid-area: icon;
            display: flex;
            width: $notification-icon-size;
            height: $notification-icon-size;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: var(--notification-icon-color);
            background-color: var(--notification-icon-background);
            margin: 1rem;
        }

        .notification-dismiss {
            border: 0;
            background: none;
            color: $color-muted;
            grid-area: dismiss;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            border-radius: 50%;
            margin: 3px;
            opacity: 0;
            transition: .1s opacity, .1s color, .1s background-color;

            &:hover {
                color: $color-danger;
                background-color: r-lighten($color-danger, 75%);
            }
        }

        &:hover .notification-dismiss {
            opacity: 1;
        }

        h3 {
            grid-area: title;
            margin: .25rem 0 0 0;
            font-size: 1.1rem;
        }

        p {
            grid-area: message;
            margin: 0;
            white-space: pre-wrap;
        }

        .notification-timestamp {
            grid-area: time;
            @extend .text-muted;
            font-size: .9rem;
        }
    }
}
