.app-web-archive {
    $preview-width: 500px;
    $preview-height: 350px;

    .post {
        width: $preview-width;
        margin: 10px auto 15px auto;

        @media all and (max-width: $breakpoint-mobile) {
            margin: 5px auto;
            max-width: 100%;
        }

        & > .caption {
            padding: 10px 5px 5px 5px;
            font-size: 1.1rem;

            & > .title {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            & > .subtitle {
                font-size: 0.8rem;

                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                display: flex;

                & > span {
                    display: inline-flex;
                }

                & > span + span {
                    margin-left: 5px;

                    &::before {
                        content: "•";
                        margin-right: 5px;
                    }
                }

                &,
                a {
                    color: var(--color-muted);
                    text-decoration-color: var(--color-muted);
                }
            }
        }

        .photo {
            border-radius: $control-border-radius;
            background: #fff;
            box-shadow: 5px 5px 10px rgba(#000, 0.25);
            overflow: hidden;
            display: block;

            max-width: $preview-width;
            max-height: $preview-height;

            @media all and (max-width: $breakpoint-mobile) {
                box-shadow: none;
            }
        }
    }

    .paginator {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;

        clear: both;
        margin: 20px;
        width: auto;
    }

    main {
        margin: 0 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        @media all and (max-width: $breakpoint-mobile) {
            margin: 0;
        }
    }

    .container-navbar {
        margin-bottom: 70px;
    }

    /* popup menu */
    #popup-menu-backdrop:not([hidden]) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        z-index: 1000;
    }

    #popup-menu:not([hidden]) {
        display: block;
        position: fixed;
        background: var(--control-color-background-normal);
        padding: 5px;
        margin: 0;
        list-style-type: none;
        border-radius: $control-border-radius;
        box-shadow: 2px 2px 4px 0px rgba(#000, 0.4);
        border: 1px solid var(--control-color-border);
        min-width: 200px;
        z-index: 1001;
        width: auto;
        left: var(--left);
        top: var(--top);

        @media all and (max-width: $breakpoint-mobile) {
            width: 100%;
            left: 0;
            bottom: 0;
            border: 0;
            border-radius: $control-border-radius $control-border-radius 0 0;
            top: unset;
        }

        & > li > a {
            text-decoration: none;
            padding: 5px 20px;
            display: block;
            color: var(--color-text);
            border-radius: $control-border-radius;

            @media all and (max-width: $breakpoint-mobile) {
                padding: 10px 20px;
            }

            &.text-danger {
                color: var(--color-danger);
            }
        }

        & > li:hover > a {
            background-color: var(--color-information);
            color: var(--color-information-bg);

            &.text-danger {
                background-color: var(--color-danger);
            }
        }
    }

    /* Search */
    #search-form {
        display: grid;
        justify-content: center;
        grid-template: auto / 3fr auto;
        grid-template-areas: "input submit";
        grid-gap: .25rem;
        width: $preview-width;
        margin: 0 auto;
        max-width: 100%;

        @media all and (max-width: $breakpoint-mobile) {
            grid-template: auto auto / 1fr;
            grid-template-areas: "input" "submit";
        }

        & > #search-field {
            margin: .25rem 0;
            grid-area: input;
        }

        & > button[type="submit"] {
            grid-area: submit;
        }
    }

    .search-helper {
        --width: 0;
        --top: 0;
        --left: 0;

        position: absolute;
        top: var(--top);
        left: var(--left);

        width: var(--width);
        min-height: 50px;
        background-color: var(--control-color-background-normal);
        border: 1px solid var(--control-color-border);
        border-radius: $control-border-radius;

        h2 {
            font-size: 1.1rem;
            margin: 5px;
            display: flex;
            justify-content: space-between;
        }

        .search-helper-item {
            display: grid;
            grid-template: auto auto auto / 1fr;
            grid-gap: 5px;
            margin: 5px;

            button {
                margin: 0;
            }
        }

        .search-helper-item-options > div {
            display: grid;
            grid-template: auto / 1fr 2fr;
            grid-gap: 5px;
        }
    }
}
