@media (prefers-color-scheme: dark) {
    :root {
        --color-background: hsl(230, 20%, 20%);
        --color-primary: hsl(230, 60%, 70%);
        --color-text: hsl(230, 20%, 60%);
        --color-link-active: hsl(315, 55%, 70%);
        --control-color-border: hsl(230, 20%, 35%);
        --control-color-background-normal: hsl(230, 20%, 15%);
        --control-color-background-locked: hsl(230, 20%, 20%);
        --control-color-background-hover: hsl(230, 20%, 20%);
        --navbar-color-bg-active: hsl(230, 20%, 30%);

        --color-information-bg: var(--color-primary);
        --color-danger-bg: #{$color-danger};
        --color-success-bg: #{$color-success};
        --color-warning-bg: #{$color-warning};

        --color-information: #{$color-information-bg};
        --color-danger: #{$color-danger-bg};
        --color-success: #{$color-success-bg};
        --color-warning: #{$color-warning-bg};
    }
}
